<html ng-app="material">
<head>

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
   
  
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>
   

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    
    <title>material</title>
   
    <base href="/" />
    <link href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    @*//Bootstrap*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="~/ngApp/views/StyleSheet.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-default">
       <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Portfolio</a>
            </div>
        
       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        
       </ul>
      </div>    
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h1>My Tesla</h1>
            <img src="http://images.hgmsites.net/med/2016-tesla-model-s_100552007_m.jpg" />
            <img src="http://icdn1.digitaltrends.com/image/tesla-model-s-p90d_1410-970x647-c.jpg" />
            <img src="http://cdn2.autoexpress.co.uk/sites/autoexpressuk/files/styles/article_main_image/public/8/61//tesla-model-s-ev-interior.jpg?itok=CDOaA1Wt" />
            <img src="http://cdn1.carbuyer.co.uk/sites/carbuyer_d7/files/styles/article_main_image/public/tesla-models-cutout.jpg?itok=CQ8orxFk" />
            <img src="http://st.automobilemag.com/uploads/sites/11/2012/11/Tesla-Model-S-gauges.jpg" />
            <img src="http://autoguide.com.vsassets.com/blog/wp-content/gallery/2020-tesla-model-s-renders/2020-tesla-model-s-render-01.jpg" />
        </div>
   </div>

    
        <div class="row">
            <div class="col-md-6">
                Semiotics pickled drinking vinegar single-origin coffee cardigan, waistcoat hammock bitters +1 meggings poke synth actually. Lo-fi art party narwhal, microdosing brunch ramps tacos pug copper mug gluten-free direct trade lyft. Lyft unicorn prism you probably haven't heard of them, raw denim cornhole austin iPhone scenester disrupt. Heirloom chicharrones street art single-origin coffee hot chicken prism, twee meggings 3 wolf moon edison bulb franzen flexitarian. Fixie bicycle rights leggings bushwick pok pok lo-fi, lyft art party man braid humblebrag VHS. Church-key tilde lomo, hella franzen crucifix brooklyn fashion axe brunch single-origin coffee cronut. Bushwick 3 wolf moon swag mumblecore prism gochujang.
            </div>
            <div class="col-md-6">
                Semiotics pickled drinking vinegar single-origin coffee cardigan, waistcoat hammock bitters +1 meggings poke synth actually. Lo-fi art party narwhal, microdosing brunch ramps tacos pug copper mug gluten-free direct trade lyft. Lyft unicorn prism you probably haven't heard of them, raw denim cornhole austin iPhone scenester disrupt. Heirloom chicharrones street art single-origin coffee hot chicken prism, twee meggings 3 wolf moon edison bulb franzen flexitarian. Fixie bicycle rights leggings bushwick pok pok lo-fi, lyft art party man braid humblebrag VHS. Church-key tilde lomo, hella franzen crucifix brooklyn fashion axe brunch single-origin coffee cronut. Bushwick 3 wolf moon swag mumblecore prism gochujang.
            </div>
        </div>
    


    <a href=#><md-icon>cake</md-icon></a>
    
   


    <md_button class="md-raised md-primary">OK</md_button>

    
    <div layout="row" layout-sm="column">
        <div flex="50" style="background-color: blue">
            Apples
        </div>
        <div flex="5" style="background-color: green">
            Oranges
        </div>
        <div flex="25" style="background-color: red">
            Peanuts
        </div>
    </div>

    <a href="About.html" role="button" class="btn btn-warning">Coming Soon</a>
   

   


</body>

</html>
